@import url('https://fonts.googleapis.com/css2? family = Padauk & family = Fuente + Serif + 4: wght @ 300 & display = swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #7b869e;
}
.navbar img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
.jumbotron h1{
    color: rgb(228, 222, 222);
    font-family:'Padauk', sans-serif;

}
.jumbotron p{
    color: rgb(85, 54, 54);
    font-family:'Padauk', sans-serif;
    font-size: 20px;
}
/* .row img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
} */
.row .card-body{
    background-color: rgb(114, 101, 101);
    color: honeydew;
}
.jumbotron{
    height: 400px;
    background-image: url(../img/logosecundario.jpg);
    background-position: center;
    background-size: cover;
    
}


footer{
    background-color: rgb(143, 132, 132);
    text-align: center;
    margin-bottom: 0;
}
a:link{
    color: #fff;
    text-decoration: none;
}
a:visited{
    color:#fff;
    text-decoration: none;
}
a:hover{
    color:#fff;
    text-decoration: none;
}
a:active{
    color:#fff;
    text-decoration: none;
}
.carousel-inner{
    height: 500px;
    
    text-align: center;
}
#demo{
    margin-top: 10px;
    margin-bottom: 10px;
}
.bg{
    background-image: url(../img/logo.jpeg);
    background-position: center center;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.bg1{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
